<h1>All of the Posts</h1>

<ul>
<%@posts.each do |post| %>
    <li>
        <%= link_to post.title, post %> |  <%= link_to "edit", edit_post_path(post) %>
        <br>
        <br>
    </li>

<% end %>
</ul>


<P><%= link_to "Create a Post" , new_post_path %></p>

